.input-button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}
.input-button input,
.input-button button {
  display: flex;
}
.input-button button {
  margin-left: -1px;
  border-left: none;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
